<<<<<<< HEAD
<%- include('includes/head.ejs') %>
    <h1>Users</h1>
    <% if (users.length > 0 ) { %>
        <ul>
            <% users.forEach((user) => { %>
            <li><%= user.name %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <h1>No Users Found</h1>
    <% } %>
=======
<%- include('includes/head.ejs') %>
    <h1>Users</h1>
    <% if (users.length > 0 ) { %>
        <ul>
            <% users.forEach((user) => { %>
            <li><%= user.name %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <h1>No Users Found</h1>
    <% } %>
>>>>>>> a30023c10ff18b0cffbd52318fe62393979d3806
<%- include('includes/end.ejs') %>